@use 'variables';
@import 'mixins';
@import "../node_modules/rfs/scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif !important;
    background-color: variables.$background-body !important;
    font-size: 16px;

    .header {
        margin-top: 20px;
        width: 100%;
        height: 50px;

        &__background {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(9, 9, 9, 0.233);
        }

        .header-container {
            padding: 0px 10px;
            margin-top: 20px;
            max-width: 1300px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (min-width: 900px){
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }

            .logo {
                display: flex;

                .forma-logo {
                    width: 40px;
                }

                .header__logo {
                    
                    font-weight: 500;
                }
            }

            
            .navbar {
                display: none;
                transition: all 200ms ease-in-out ;
                

                @media (max-width: 900px){
                    top: 0;
                    right: 0;
                    width: 0px;
                    background-color: #bbf9e6;
                    height: 100vh;
                    display: block;
                    position: fixed;
                    padding: 0;
                }

                @media (min-width: 900px) {
                    display: flex;
                    justify-content: center;
                }

                &__ul{
                    @media (max-width: 900px){

                        flex-direction: column;
                    }
                    display: flex;
                    gap: 20px;
                    list-style: none;
                    margin: 0 !important;
                    padding: 0 !important;

                    li a {
                        color: rgb(0, 0, 0);
                        text-decoration: none;
                        transition: all 100ms ease-in-out;
                        @include font-size(1.2em);

                        &:hover {
                            color: variables.$greenblue;
                        }
                        @media (max-width: 900px){
                            font-size: 1.8em;
                        }
                    
                    }
                }
            }

            .right {
                display: flex;
                justify-content: end;
                align-items: center;
            }

            .header__btn {
                @include button(15px);
            }

            .menu-bars {
                cursor: pointer;
                font-size: 1.5em;
                margin-left: 10px;   
                @media (min-width: 900px){
                    display: none;
                }
            }
        }
    }

    main {
        

        .hero {
            margin-top: 20px;
            padding: 0 10px;

            @media (min-width: 800px) {
                margin-top: 60px;
            }

            .main-text {
                font-weight: bold;
                @include font-size(4rem);

                @media (min-width: 1000px) {
                    @include font-size(5rem);
                }

                .web {
                    border: 3px solid variables.$greenblue;
                    padding: 0px 7px;

                    @media (max-width: 600px){
                        color:  variables.$greenblue ;
                        border: none;
                    }
                }
            }

            .eslogan {
                color: variables.$grey;
                margin-top: 15px;
                font-size: 0.8em;

                @media (min-width: 1000px) {
                    font-size: 1.5em;
                }
            }

            &__btn {
                @include button(30px);
                
                @media (min-width: 1000px) {
                    font-size: 1.5em;
                }
            }
            &__img {
                margin-top: 60px;

                @media (max-width: 400px) {
                    width: 240px;
                }
                @media (min-width: 360px) {
                    width: 340px;
                }
                @media (min-width: 460px) {
                    width: 400px;
                }
                @media (min-width: 600px) {
                    width: 500px;
                }
                @media (min-width: 750px) {
                    width: 600px;
                }
                @media (min-width: 900px) {
                    width: 750px;
                }
            }

            .analytics {
                margin-top: 80px !important;
                width: 100%;
                max-width: 900px;
                justify-content: space-between;

                @media (min-width: 500px){
                    padding: 0 30px;

                }
        
            
                .analytics__item {
                    padding: 10px 10px 0px 8px;
                    width: 100px;
                    height: 100px;
                    background-color: #0ed59951;
                    border-radius: 34% 62% 66% 34% / 43% 83% 12% 53%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                }

                &__title {
                    font-size: 1.3em;
                    font-weight: bold;
                    margin: 0 !important;
                }
                
                &__text {
                    font-size: 0.5em;
                }

                @media (min-width: 460px) {
                   .analytics__item {
                    width: 120px;
                    height: 120px;
                   }

                   .analytics__title {
                    font-size: 1.5em
                   }

                   .analytics__text {
                    font-size: 0.6em;
                   }

                }
                @media (min-width: 800px) {
                    .analytics__item {
                     width: 150px;
                     height: 150px;
                    }
 
                    .analytics__title {
                     font-size: 1.7em
                    }
 
                    .analytics__text {
                     font-size: 0.7em;
                    }
 
                 }
            }

            
        }

        .cards {
            margin-top: 100px !important;
            background-color: black;
            padding: 0 20px;

            &__title {
                @include titles-sections;
            }
            &__container {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 60px;
                padding-bottom: 40px;
                
                @media (min-width: 800px){
                    padding-top: 50px;
                    padding-bottom: 100px;
                    margin: auto;
                    max-width: 1100px;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 10px;
                }
            }

            &__card {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                max-width: 300px;
                height: 300px;
                border: 2px solid rgb(120, 120, 120);
                border-radius: 15px;
                text-align: center;
                color: #ffff;

                @media (min-width: 800px){
                    width: 250px;
                }
                @media (min-width: 900px){
                    width: 300px;
                    height: 340px;
                }
                @media (min-width: 1100px){
                    max-width: none;
                    width: 340px;
                    height: 360px;
                }
            }

            &__subtitle {
                font-weight: 400;
                margin-top: 40px;
                @include font-size(1em);
            }

            &__img {
                width: 60px;
            }

            &__text {
                margin-top: 10px;
                padding: 0 15px;
                @include font-size(0.8em);
                font-weight: 200;
            }

            &__button {
                margin-top: 15px;
                @include button(25px);
                font-size: 0.8em;
            }

            @media (min-width: 600px){
                &__img {
                    width: 80px;
                }

                &__subtitle {
                    margin-top: 25px;
                    @include font-size(1.3em);
                }

                &__text {
                    @include font-size(0.9em);
                }

                &__button {
                    margin-top: 0;
                }
            }

            @media (min-width: 800px){
                &__img {
                    width: 60px;
                }

                &__subtitle {
                    margin-top: 25px;
                    @include font-size(1.1em);
                }

                &__text {
                    @include font-size(0.8em);
                }
            }

            @media (min-width: 900px){
                &__img {
                    width: 80px;
                }

                &__subtitle {
                    margin-top: 25px;
                    @include font-size(1.3em);
                }

                &__text {
                    @include font-size(0.9em);
                }
            }
        }

        .packs {
            width: 100%;
            padding-bottom: 100px;
            &__title {
                @include titles-sections;
                color: rgb(0, 0, 0);
            }

            &__container {
                padding: 0 15px;
                max-width: 1100px;
                margin: auto;
                gap: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media (min-width: 600px){
                    flex-direction: row;
                    justify-content: space-between;
                }

                @media (min-width: 800px){
                    padding-top: 30px;

                }
            }

            &__pack {
                border: 2px solid black;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                max-width: 250px;
                height: 400px;
                padding: 50px 20px;

               

                @media (min-width: 800px){

                    max-width: 320px;
                    height: 480px;
                }

                &--color {
                    background-color: variables.$greenblue;
                    color: white;
                    border: 2px solid variables.$greenblue;

                    .packs__button {
                        background-color: white;
                        color: variables.$greenblue;
                        font-weight: 500;
                    }

                }

            }

            &__characteristcs {
                list-style: none;
                padding: 0;

            }

            &__characteristic {
                font-weight: 400;
                @include font-size(0.9em);

                i {
                    margin-right: 8px;
                }

                @media (min-width: 800px){
                    font-size: 1em;
                    margin-bottom: 10px;
                }

                @media (min-width: 1000px){
                    font-size: 1.1em;
                    margin-bottom: 10px;
                }
            }

            &__price {
                margin-top: 20px;
                font-weight: bold;
                @include font-size(2em);
            }

            &__month {
                @include font-size(0.8em);

                @media (min-width: 800px){
                    font-size: 1em;
                    margin-bottom: 40px;
                }
            }
            
            
            &__button {
                margin-top: 15px;
                @include button(30px);
                border-radius: 10px;
                background-color: rgb(0, 0, 0);

                @media (min-width: 600px){
                    font-size: 0.7em;
                }

                @media (min-width: 640px){
                    font-size: 1em;
                }

                @media (min-width: 840px){
                    font-size: 1.3em;
                }
            }
           
        }

        .about {
            width: 100%;
            padding: 0 15px 50px 15px;

            &__title {
                @include titles-sections;
                color: black;
                
            }

            &__container {
                margin: auto;
                gap: 10px;
                overflow: hidden;
                overflow-x: scroll;
            }

            &__slider {
                margin: auto;
                width: 600px;
                display: flex;
                gap: 10px;
                @media (min-width: 720px){
                    width: auto;
                    max-width: 1100px;
                    justify-content: space-between;
                    overflow: hidden;
                }
            }

            &__client {
                width: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__stars {
                color: variables.$greenblue;
            }

            &__text {
                font-weight: 500;
                @include font-size(0.7em);
                color: variables.$grey;
            }

            &__profile {
                display: flex;
            }

            &__img {
                width: 30px;
                height: 30px;
                margin-right: 5px;
            }

            &__name {
                @include font-size(0.6em);
                margin: 0;
            }
            &__rol {
                @include font-size(0.5em);
                color: variables.$grey;
            }

            @media (min-width: 400px){
                &__client {
                    width: 250px;
                }
                &__text {
                    @include font-size(0.9em)
                }
                &__slider {
                    width: 810px;
                    gap: 20px;
                }
                &__stars i {
                    font-size: 1.1em;
                }
                &__img {
                    width: 35px;
                    height: 35px;
                }
                &__name {
                    @include font-size(1em);
                }
                &__rol {
                    @include font-size(0.7em);
                }
            }

            @media (min-width: 550px){
                &__client {
                    width: 270px;
                }
                &__text {
                    @include font-size(1em)
                }
                &__slider {
                    gap: 20px;
                }
                &__stars i {
                    font-size: 1.3em;
                }
                &__img {
                    width: 35px;
                    height: 35px;
                }
                &__name {
                    @include font-size(1.1em);
                }
                &__rol {
                    @include font-size(0.8em);
                }
            }
            @media (min-width: 700px){
                &__slider {
                    width: auto;
                    display: flex;
                    justify-content: space-between;
                }

                &__container {
                    overflow: hidden;
                }
            }

            @media (min-width: 1000px){
                &__client {
                    width: 300px;
                }
                
                &__text {
                    @include font-size(1.3em)
                }
                &__slider {
                    gap: 30px;
                }
                &__stars i {
                    font-size: 1.2em;
                }
                &__img {
                    width: 35px;
                    height: 35px;
                }
                &__name {
                    @include font-size(1.2em);
                }
                &__rol {
                    @include font-size(0.9em);
                }
            }
        }

        .footer {
            width: 100%;
            margin-top: 60px;
            padding: 0 15px 50px 15px;

            @media (min-width: 800px) {
                margin-top: 100px;
            }
            &__container {
                max-width: 1100px;
                margin: auto;
            }
            &__text {
                max-width: 300px;
                font-weight: 400;
                margin-top: 15px;
            }
            &__nav {
                @media (min-width: 700px){
                    display: flex;
                    flex-direction: row !important;
                }
            }
            &__ul {
                list-style: none;
                margin: 0 !important;

                li a {
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    transition: all 100ms ease-in-out;
                    @include font-size(1.2em);

                    &:hover {
                        color: rgb(63, 63, 63);
                    }
                }
            }
            &__list {
                margin-bottom: 20px;
            }

        }
    }
}